@import "tailwindcss";

.phone-input-wrapper input {
  padding: 0.5rem 0.5rem;
  font-size: 1rem; /* 18px */
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
